<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/skin.css" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <!-- <link rel="stylesheet" href="/assets/css/animate.min.css" /> -->


</head>
<body>

  {{> menu}}

    {{{body}}}

    {{> footer}}
</body>
</html>
